<table class="product_table table table-bordered">
  <thead>
    <tr class="table-active">
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% carts.each do |cart| %>
      <tr>
        <td>
          <%= attachment_image_tag(cart.product, :image, :fill, 100, 100, fallback: "cake-dummy.jpg", size:'100x100' ) %>
          <%= cart.product.name %>
        </td>
        <td><%= cart.product.price %></td>
        <td>
          <%= render 'quantity_change', cart: cart %>
        </td>
        <td><%= subtotal_price(cart).to_s(:delimited) %></td>
        <td><%= render 'delete_form', cart: cart %></td>
      </tr>
    <% end %>
  </tbody>
</table>