<h3>注文履歴詳細</h3>

<div class="row">
  <div class="order_table col-md-6">
    <h4>注文情報</h4>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>注文日</td>
          <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
        </tr>
        <tr>
          <td>配送先</td>
          <td>
            〒<%= @order.postal_code %><br />
            <%= @order.address %><br />
            <%= @order.address_name%>
          </td>
        </tr>
        <tr>
          <td>支払い方法</td>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <td>ステータス</td>
          <td><%= @order.order_status_i18n %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="order_table col-md-4">
    <h4>請求情報</h4>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>商品合計</td>
          <td><%= @order.uninclude_fee_price %></td>
        </tr>
        <tr>
          <td>配送料</td>
          <td><%= @order.fee %></td>
        </tr>
        <tr>
          <td>ご請求金額</td>
          <td><%= @order.total_price.to_s(:delimited) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="order_table">
  <h4>注文内容</h4>
  <table class="table table-bordered">
  <thead>
    <tr>
      <th>商品</th>
      <th>単価（税込）</th>
      <th>個数</th>
      <th>小計</th>
  </thead>
  <tbody>
    <% @order_details.each do |order_detail|%>
      <tr>
        <td><%= order_detail.product.name %></td>
        <td><%= tax_included_price(order_detail.product.price)%></td>
        <td><%= order_detail.quantity %></td>
        <td><%= (tax_included_price(order_detail.product.price) * order_detail.quantity).to_s(:delimited) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>