<h3><%= @customer.full_name %>さんの会員情報編集</h3>
<%= form_with model: @customer, url: admin_customer_path, method: :patch, local: true do |f| %>
<div class="bg-light text-danger"><%= render "admin/shared/error_messages", resource: f.object %></div>

  <div class="form-group pt-3 text-center row">
    <%= f.label '会員ID', class: 'col-md-3 col-form-label' %>
    <%= f.label "#{@customer.id}", class: 'mr-1 col-form-label' %>
  </div>

  <div class="form-group pt-3 text-center row">
    <%= f.label "氏名", class: 'col-md-3 col-form-label' %>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "family-name", class: "form-control mr-1 w-25" %>
    <%= f.text_field :first_name, autocomplete: "given-name", class: "form-control w-25" %>
  </div>

  <div class="form-group pt-3 text-center row">
    <%= f.label "フリガナ", class: 'col-md-3 col-form-label' %>
    <%= f.text_field :kana_last_name, autocomplete: "family-name", class: "form-control mr-1 w-25" %>
    <%= f.text_field :kana_first_name, autocomplete: "given-name", class: "form-control w-25" %>
  </div>

  <div class="form-group pt-3 text-center row">
    <%= f.label :postal_code, "郵便番号", class: 'col-md-3 col-form-label' %>
    <%= f.text_field :postal_code, autocomplete: "postal-code", class: "form-control w-25" %>
  </div>

  <div class="form-group pt-3 text-center row">
    <%= f.label :address, "住所", class: 'col-md-3 col-form-label' %>
    <%= f.text_field :address, autocomplete: "street-address", class: "form-control w-25" %>
  </div>

  <div class="form-group pt-3 text-center row">
    <%= f.label :phone_number, "電話番号", class: 'col-md-3 col-form-label' %>
    <%= f.text_field :phone_number, autocomplete: "tel", class: "form-control w-25" %>
  </div>

  <div class="form-group pt-3 text-center row">
    <%= f.label :email, "メールアドレス", class: 'col-md-3 col-form-label' %>
    <%= f.email_field :email, autocomplete: "email", class: "form-control w-25" %>
  </div>

  <div class="form-group pt-3 text-center d-flex align-items-center row">
    <%= f.label :is_valid, '会員ステータス', class: 'col-md-3 col-form-label' %>

    <div class="form-check mx-3">
      <%= f.radio_button :is_valid, true, class: "form-check-input" %>
      <%= f.label :is_valid, "有効", value: :true, class: "form-check-label" %>
    </div>
    <div class="form-check mx-3">
      <%= f.radio_button :is_valid, false, class: "form-check-input" %>
      <%= f.label :is_valid, "退会", value: :false, class: "form-check-label"%>
    </div>
  </div>
  <div class="text-center pt-3">
    <%= f.submit "変更を保存する", class: 'btn btn-success' %>
  </div>
<% end %>
