<div class="row">
  <div class="col-md-3">
    <%= render 'customer/homes/genre_search', genres: @genres %>
  </div>
  <div class="col-md-8 offset-md-1">
    <div class="product_header">
      <% if @method == 'keyword' %>
        <h3>商品一覧</h3>
        <p>(全<%= @total_products %>件)</p>
        <%= render 'list', products: @result %>
      <% elsif @method == 'genre' %>
        <h3><%= @genre_name %>一覧</h3>
        <p>(全<%= @total_products %>件)</p>
        <%= render 'list', products: @result %>
      <% end %>
    </div>
  </div>
</div>