<header class="header">
  <div class="header__inner">
    <a href="/", class="site_link">
      <h1 class="site_title">ながのCAKE</h1>
    </a>
    <p class="login_customer">ようこそ、<%= current_customer.last_name %><%= current_customer.first_name %>さん!</p>
    <nav class="header__nav">
      <ul class="header__ul">
        <li class="header__li">
          <%= link_to "マイページ", mypage_customers_path %>
        </li>
        <li class="header__li">
          <%= link_to "商品一覧", products_path %>
        </li>
        <li class="header__li">
          <%= link_to "カート", cart_products_path %>
        </li>
        <li class="header__li">
          <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
        </li>
      </ul>
      <%= render 'layouts/search_form', content: @content %>
    </nav>
  </div>
</header>