<table class="delivery_table">
  <thead>
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% deliveries.each do |to| %>
      <tr id="delivery_list__<%= to.id %>">
        <td><%= to.postal_code %></td>
        <td><%= to.address %></td>
        <td><%= to.address_name %></td>
        <td colspan="2" class="">
          <%= link_to "編集する", edit_delivery_path(to.id), class: "delivery_btn"  %>
          <%= link_to "削除する", delivery_path(to.id), method: :delete, data: { confirm: "本当に削除しますか?" }, class: "bye_btn" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>