<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCakeQuarter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if admin_signed_in? %>
      <%= render "layouts/admin/header" %>
      <%= render "layouts/main" %>
      <%= render "layouts/admin/footer" %>
    <% elsif customer_signed_in? %>
      <%= render "layouts/customer/header" %>
      <%= render "layouts/main" %>
      <%= render "layouts/customer/footer" %>
    <% else %>
      <%= render "layouts/header" %>
      <%= render "layouts/main" %>
      <%= render "layouts/footer" %>
    <% end %>
    
  </body>
</html>
